beautifulsoup4==4.12.3
gymnasium==0.29.1
langchain==0.2.0
langchain_community==0.2.0
langchain_core==0.2.0
matplotlib==3.8.3
numpy==1.26.4
ollama==0.2.0
opencv_python==4.9.0.80
pandas==2.2.2
stable_baselines3==2.2.1
streamlit==1.33.0
streamlit_image_coordinates==0.1.6
sumo_rl==1.4.3
ultralytics==8.1.46
